*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    height: 100vh;
    color: white;
    flex: .6;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.control{
    height: 4rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Location{
    padding: 5px 5px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tempContainer, .locationDetail,.weatherDescription{
    margin-right: 3rem;
}

.temp{
    font-size: 4rem;
}

.countryName{
    font-size: 1.5rem;

}

.weatherDescription{
    font-size: 200;
}

#wicon{
    width: 35px;
}

.title{
    margin: 3rem 0 0 14rem;
}

.icon{
    width: 25px;
    height: 25px;
    display: none;
}


@media (min-width:300px) and (max-width:750px) {
    .container{
        flex: 1;
    }

    #wicon{
        align-self: flex-start;
    }

    .main{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .tempContainer, .locationDetail{
        margin-left: 7rem;
    }

    .weatherDetail{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 38%;
        left: 30%;
    }

    
.title{
    margin: 1rem 0 0 1rem;
    font-size: 12px;
}

.icon{
    display: block;
    position: absolute;
    right: 5%;
    top: 1.8%;
    z-index: 300;
}
}
