/* body{
    height: 100vh;
} */

.App{
    display: flex;
    align-items: center;
    background-image: url('./images//pexels-artur-roman-518415.jpg');
    background-position: top;
    background-size: cover;
}


@media (min-width:300px) and (max-width:750px) {
    .App{
        background-size: cover;
        background-position: top;
    }
}
